body {
    font-family: Arial, sans-serif;
    /*background-image: url('/Development/Images/bg1.jpg');*/
    background-color: #b2ebb4;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    width: 90%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px; /* Set the height to match other input fields */
    resize: vertical; /* Allow vertical resizing only */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.image-preview {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    object-fit: cover;
}

.login-link {
    text-align: center;
    margin-top: 60px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Google Sign-In Button */
.g-signin2 {
    width: 100%;
    max-width: 400px; /* Matches max-width of container */
    height: 0px;
    margin: 20px auto; /* Center it horizontally */
    display: block; /* Ensure it takes up its container's width */
    box-sizing: border-box;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .image-preview {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    input[type="text"],
    input[type="password"],
    input[type="file"],
    input[type="submit"],
    textarea {
        padding: 8px;
    }

    .image-preview {
        width: 100px;
        height: 100px;
    }

    label {
        margin-bottom: 5px;
    }

    .g-signin2 {
        max-width: 100%;
        height: 40px;
    }
}
